@{
    ViewData["Title"] = "Contact Page";
}


<link rel="stylesheet" href="~/css/contact.css" />

<div id="section1" class="vh-100">

    <div class="align-middle text-center word-welcome">
        <h1 class="display-1">  ติดต่อเรา  </h1>

    </div>
</div>


<div id="section2" class="vh-100">
    <div class="" style="height: 60%; flex-direction: column">
        <div class=" text-light">
            <div class="text-center " style="margin: 0 auto; padding-top: 5%">
                <h2 class="display-3">Contact Us</h2>
                <h2 class="display-3">
                    With our Discord comunity
                </h2>
            </div>
        </div>
        <div class="" style="width:100% ; margin: 0 auto; display:flex;">
            <img style="margin: 0 auto;" src="https://dydx-academy-s3.s3.ap-southeast-1.amazonaws.com/Web-img-resource/background/discord.png" />
        </div>
    </div>
</div>


<div id="section6" class="vh-100">
    <div>
        <div class="row director " style="margin: 0 !important;">
            <div class="row " style="margin: 0 !important;">
                <h3 style="margin:0 auto;" class="display-4">
                    Coaches and Instructors
                </h3>
            </div>
            <div class="row text-light" style="margin: 0 !important; padding-top: 70px;">
                <div class="col" style="margin-bottom: 200px; display: grid; padding-top: 80px;">
                    <img class="rounded-circle" style="height: 220px; width: auto; margin: 0 auto"
                         src="https://dydx-academy-s3.s3.ap-southeast-1.amazonaws.com/Web-img-resource/instructor/ibestdk.jpg" />

                    <div style="text-align: center" class="text-light">
                        <h4>Jirat Deekhum</h4>
                        <p>Instructors</p>
                    </div>
                    <ul style="width: 70%; margin: 0 auto">
                        <li>- 3rd year of B.Eng (Computer Engineer)</li>
                        <li>
                            - Web Developer Intern at T Capital Technology Co. Ltd
                        </li>
                        <li>- Fullstack Web Devoloper</li>
                        <li>- Web Founder & Lead Developer of AdopPix</li>
                    </ul>
                </div>

                <div class="col" style="margin-bottom: 200px; display: grid; ">
                    <img class="rounded-circle" style="height: 220px; width: auto; margin: 0 auto"
                         src="https://dydx-academy-s3.s3.ap-southeast-1.amazonaws.com/Web-img-resource/instructor/hidekun.jpg" />

                    <div style="text-align: center" class="text-light">
                        <h4>Peerawit Vongsinpratueng</h4>
                        <p>Instructors</p>
                    </div>
                    <ul style="width: 70%; margin: 0 auto">
                        <li>- 3rd year of B.Eng (Computer Engineer) DPU</li>
                        <li>
                            - First-runner up of Thailand 4.0 ioT Project Competition
                            (2018) at KMUTNB
                        </li>
                        <li>- ioT and AWS Teaching Assistant at DPU</li>
                        <li>
                            - Web Developer and Web Tester Intern at T Capital
                            Technology Co. Ltd
                        </li>
                    </ul>
                </div>

                <div class="col" style="margin-bottom: 200px; display: grid; padding-top: 80px;">
                    <img class="rounded-circle" style="height: 220px; width: auto; margin: 0 auto"
                         src="https://dydx-academy-s3.s3.ap-southeast-1.amazonaws.com/Web-img-resource/instructor/suppavit1412.jpg" />

                    <div style="text-align: center" class="text-light">
                        <h4>Suppavit Vilikit</h4>
                        <p>Instructors</p>
                    </div>
                    <ul style="width: 70%; margin: 0 auto">
                        <li>- 3rd year of B.Eng (Computer Engineer)</li>
                        <li>
                            - Web Developer Intern at T Capital Technology Co. Ltd
                        </li>
                        <li> - business analyst at Buzzfreed Solution Software House</li>
                        <li>- Front-end Web Dev</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row partner" style="flex-direction: column; margin: 0 !important;">
            <div class="row text-center" style="height: 40%; margin: 0 !important;">
                <h3 class="text-light display-4 font-weight-bold ">Partner</h3>
            </div>
            <div class="row" style="height:60%; margin: 0 !important;">
                <div class="col mt-3 " style="display:flex;">
                    <img style="height: 46px; width: auto; margin: 0 auto"
                         src="https://dydx-academy-s3.s3.ap-southeast-1.amazonaws.com/Web-img-resource/partner/AdopPix.png" />
                </div>
                <div class="col mt-3 px-2" style="display: flex; width: 50% !important;">
                    <img style="height: 46px; width: auto; margin: 0 auto"
                         src="https://dydx-academy-s3.s3.ap-southeast-1.amazonaws.com/Web-img-resource/partner/dydx.png" />
                </div>
                <div class="col mt-3 " style="display:flex;">
                    <img style="height: 46px; width: auto; margin: 0 auto"
                         src="https://dydx-academy-s3.s3.ap-southeast-1.amazonaws.com/Web-img-resource/partner/OnlySubs.png" />
                </div>
            </div>
        </div>
    </div>
</div>


<style>
</style>