<section style="padding-top: 88px;">
    <div class="col bg-web">
        <div class="col-3 bg-web" style="position:fixed; bottom: auto; height: 100%; transform: none; float: left;">
            <ul class="text-light pt-5" style="list-style-type:none; overflow: scroll; height: 100%;">
                <li><h2 class="">Basic html</h2></li>
                <li class="on-hover "><a class="text-light" asp-controller="HTML_101" asp-action="Part1">1. Basic index.html structure</a></li>
                <li class="on-hover on-webpage"><a class="text-light" asp-controller="HTML_101" asp-action="Part2">2. Headings and Paragraphs</a></li>


            </ul>

        </div>
        <div class="col-9 bg-web" style="height: 100vh;  float: right;">
            <div class="" style="height: 100%;">
                <iframe style="margin: 0 auto; display: flex; width: 100%; height: 70%;"
                        src="https://www.youtube-nocookie.com/embed/Co9v2o6Mw3w" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>


            </div>
        </div>
    </div>

</section>

<style>
    .on-hover {
        text-decoration: none;
        transition: .3s;
        padding: 8px 1px;
    }

    a {
        text-decoration: none;
        padding-left: 10px;
    }

    .on-hover:hover {
        background-color: rgb(80, 80, 80);
    }

    section {
        background-color: rgb(36, 36, 36);
    }

    .bg-web {
        background-color: rgb(36, 36, 36);
    }

    .on-webpage {
        background-color: rgb(80, 80, 80);
    }
</style>