<div class="row">
    <div style="height: 100%">


        <div class="col-md-6 offset-3 alert alert-success text-center" style="margin-top: 16%; margin-bottom:15%">
            <h2>ใช้คูปองของคุณที่นี่</h2>
            <p>ระบบคูปองยังไม่เปิดให้บริการในขณะนี้</p>
            <hr />
            <p>หากระบบเปิดใช้งานเเล้วเราจะเเจ้งให้ทราบในภายหลัง</p>
        </div>
    </div>

</div>