<div class="row">
    <div style="height: 100%">
        <div class="col-md-6 offset-3 alert alert-success text-center" style="margin-top: 16%; margin-bottom:15%">
            <h2>Order completed successfully</h2>
            <p>You can check all your orders in the Orders section of your profile</p>
            <hr />
            <p>Thank you!</p>
        </div>
    </div>
    
</div>