<div class="row">
    <div style="height: 100%">
        <div class="col-md-6 offset-3 alert alert-success text-center" style="margin-top: 16%; margin-bottom:15%">
            <h2>คำสั่งซื้อของคุณสำเร็จเเล้ว</h2>
            <p>คุณสามารถตรวจสอบคำสั่งซื้อทั้งหมดของคุณได้ในส่วนคำสั่งซื้อของโปรไฟล์ของคุณ</p>
            <hr />
            <p>ขอบคุณสำหรับคำสั่งซื้อ</p>
        </div>
    </div>
    
</div>